{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}{{b.metadata.about.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
        {{b.metadata.about.title.html|striptags}}
{% endblock %}
{% block pageheader %}
<div class="page-header">
    <div class="summary">{% if b.metadata.about.summary -%}{{b.metadata.about.summary.html|safe}}{% endif -%}</div>
    <div><small>{{b.identity.fqname}} {{ b.dstate }}</small></div>
</div>
{% endblock %}

{% block body %}

{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>

        //Live search partition table.
        $("#partition-search").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("#partition-list tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });


    </script>
{% endblock %}



