{% extends "bundle/partition.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/bower_components/c3/c3.css') }}" rel="stylesheet">
    <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet" />

{% endblock %}
{% block page_css %}
    div.ambry-map { height: 600px; width: 450px;}
{%  endblock %}
{% block body %}

    <h2>map</h2>

    <div id="{{(config.plot.bindto)[1:]}}" class="ambry-map"></div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bower_components/d3/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/c3/c3.js') }}" charset="utf-8"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>

    <script>

    // Load a JSON file and call a callback.
    function loadJSON(url, callback) {

        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', url, true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
              if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined
                // in asynchronous mode
                callback(JSON.parse(xobj.responseText));
              }
        };
        xobj.send(null);
     }

    var plot_config = {{ dumps(config['plot']) | safe }}

    var map = L.map(plot_config.bindto.substring(1)).setView([37.00255, -119.21265], 5);

	// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 12, attribution: osmAttrib});

    loadJSON('{{ dumps(config["json_data"]) | safe }}', function(data) {
        //
    });

    function getColor(feature) {
        //console.log(feature.properties);
        return 'red';
    }

    function style(feature) {
        return {

            weight: 1,
            opacity: 1,
            color: 'blue',
            fillColor: getColor(feature),
            dashArray: '3',
            fillOpacity: 0.7
        };
    }

    // http://leafletjs.com/reference.html#geojson
    // FIXME! Fake URL
    var geojsonLayer = new L.GeoJSON.AJAX( "/boundaries/0E06/50", {style:style});

    //geojsonLayer.setStyle(style)

    geojsonLayer.on('click', onMapClick);
    function onMapClick(e) {
        //console.log("You clicked the map at " + e.latlng);
    }

    geojsonLayer.addTo(map);

	map.setView(new L.LatLng(37.00255, -119.21265),6);
	map.addLayer(osm);



    </script>


{% endblock %}


