{% extends "bundle/partition.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/bower_components/c3/c3.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/bower_components/leaflet/dist/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/bower_components/Leaflet.label/dist/leaflet.label.css') }}" rel="stylesheet">

{% endblock %}
{% block page_css %}
    div.ambry-map { height: 600px; width: 450px;}
{%  endblock %}
{% block body %}

    <h2>{{measure.description}}</h2>
    <h3>By County</h3>

    <div id="ambry-map" class="ambry-map"></div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bower_components/d3/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/c3/c3.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/leaflet/dist/leaflet.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/Leaflet.label/dist/leaflet.label.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/leaflet-ajax/dist/leaflet.ajax.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jenks.js') }}"></script>

    <script>

    // Load a JSON file and call a callback.
    function loadJSON(url, callback) {

        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', url, true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
              if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined
                // in asynchronous mode
                callback(JSON.parse(xobj.responseText));
              }
        };
        xobj.send(null);
    }

    function buildMap(data, measureName, breaks) {
        var map = L.map("ambry-map").setView([37.00255, -119.21265], 5);

        // create the tile layer with correct attribution
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 12, attribution: osmAttrib});

        // From: colorbrewer2.org
        var colors = ['#b35806','#f1a340','#fee0b6','#f7f7f7','#d8daeb','#998ec3','#542788'];

        function getColor(feature) {

            var gvid = feature.properties.gvid;

            var feature_data = data[gvid];

            var data_value = feature_data[measureName];

            for (var brk = 0; brk < breaks.length; brk++){
                if (data_value < breaks[brk]){
                    return colors[brk];
                }
            }

            return colors[brk];

        }


        // http://leafletjs.com/reference.html#geojson
        // FIXME! Fake URL
        var geojsonLayer = new L.GeoJSON.AJAX("/boundaries/0E06/50", {
            style:  function (feature){
                return {
                    weight: 1,
                    opacity: 1,
                    color: 'gray',
                    fillColor: getColor(feature),
                    //dashArray: '3',
                    fillOpacity: 0.7
                };
            },
            onEachFeature: function (feature, layer) {

            }
        });

        //geojsonLayer.setStyle(style)

        geojsonLayer.on('click', onMapClick);

        function onMapClick(e) {
            //console.log("You clicked the map at " + e.latlng);
        }

        geojsonLayer.addTo(map);

        map.setView(new L.LatLng(37.00255, -119.21265), 6);
        map.addLayer(osm);
    }

    loadJSON('{{json_data_url}}', function(data) {

        var measureName = '{{measure.name}}';
        var data_lookup = {};
        var values = [];

        for (var i=0; i < data.length; i++){
            data_lookup[data[i].gvid] = data[i];
            values.push(data[i][measureName]);
        }


        buildMap(data_lookup, measureName, jenks(values, 7));
    });


    </script>


{% endblock %}


