{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}{{p.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block json_button %}
    {{ json_button('partition_json', vid=p.vid) }}
{% endblock %}
{% block masthead %}
    <span style="{{scale_font(p.display.title)}}">
        {{p.display.title}}
    </span>
{% endblock %}

{% block pageheader %}
    <div class="row page-header">
        <div class="col-md-7">

            <div class="summary">{{ p.display.description }} {{ p.display.sub_description }}</div>
            <div>
                {% if b.metadata.about.access == 'public' or current_user.is_authenticated %}
                 <a class="btn btn-primary btn-sm" href="{{url_for('stream_file', pvid=p.vname, ct='csv')}}">CSV</a>
                {% endif %}
                From: <a href="{{url_for('bundle_main',vid=p.dataset.vid)}}">{{p.dataset.fqname}}</a>.
                {{ p.sub_description }}

            </div>
        </div>
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>name</dt>
                <dd><input value="{{ p.name }}" class="form-control"></dd>
                <dt>vname</dt>
                <dd><input value="{{ p.vname }}"  class="form-control"></dd>
                <dt>vid</dt>
                <dd><input value="{{ p.vid }}"  class="form-control"></dd>
            </dl>
        </div>

    </div>

{%  endblock %}
{% block page_css %}
    .popover {
        min-width: 40%;
    }
    #valuetype-col{
        width: 10em;
    }
    .column-role-d td:nth-of-type(2){
        /*background-color: #e6f2ff;*/
        color: green;
    }
    .column-role-m td:nth-of-type(2){
        /*background-color: #e6fff2;*/
        color: blue;
    }
    .column-role-e td:nth-of-type(2){
        /*background-color: #FAFAFA;*/
        color: #999;
    }

    .column-subordinate td:nth-of-type(2) {
        padding-left: 3em;
    }

    .column-primary td:nth-of-type(2) {
        font-weight: bold;
        font-size: 120%
    }


{%  endblock %}
{% block body %}

<div>
    <div>

        {% if docs %}
            <dl>
            <h3>Documentation</h3>
            {% for d in docs %}
                <dt><a href="{{d.url}}" target="_blank">{{d.title}}</a></dt><dd>{{ d.description }}</dd>
            {% endfor %}
            </dl>
        {% endif %}

         {%if p.geo_coverage and p.geo_coverage.names%}
            <p><span class="label label-default">Geography:</span>&nbsp;
                {{p.geo_grain.names|join(', ')}} granularity in {{p.geo_coverage.names|join(', ')}}</p>
        {% endif -%}

        {%if p.time_coverage and p.time_coverage.years%}
            <p><span class="label label-default">Years:</span>&nbsp;
                {% if p.time_coverage.years|length < 5 %}
                {{p.time_coverage.years|join(', ')}}
                {% else %}
                {{p.time_coverage.min}} to {{p.time_coverage.max}}
                {% endif %}
            </p>
         {% endif -%}

        <table class="table table-bordered table-condensed">
            <tr>
                <th>#</th>
                <th>Column</th>
                <th id="valuetype-col">Data Type</th>
                <th>Width</th>
                <th>Description</th>
                <th>Unique Values /<br/>
                    Histogram ( &mu;&plusmn;2&sigma; range )</th>
                <th>More</th>

            </tr>

            {% for c in p.table.columns|sort(attribute='sequence_id') -%}
            <tr class="column-role-{{ c.role }} {%  if c.parent %}column-subordinate{% else %}column-primary{% endif %}">
                <td>{{c.sequence_id}}</td>
                <td>{{c.name}}</td>
                <td data-toggle="tooltip" data-placement="right" data-container="body"
                    title="{{c.valuetype_class.__name__}}, {{ c.valuetype }}">
                    {{c.valuetype_description}}<br/>
                    <small>{{c.role_description}}, {{c.datatype}}</small>
                </td>
                <td>{{p.stats_dict[c.name].width}}</td>
                <td>{{c.description|default('', true)}}</td>
                <td >

                    {%  if c.role == 'd' or c.role == 'key' or
                            ( not c.role and (c.datatype in ('str','unicode') or
                                              p.stats_dict[c.name].nuniques < 100 ) ) %}

                        <a tabindex = "0"
                            data-toggle="popover" data-placement="left" data-trigger="hover"
                            data-title="Selected Values"
                            {% if p.stats_dict[c.name].uvalues %}
                            data-content="{{ p.stats_dict[c.name].uvalues|sort|join(', ') }}"
                            {%  endif %} %}
                        >
                        {{p.stats_dict[c.name].nuniques}} Uniques </a>
                    {% elif c.role == 'm' or c.role == 'e' %}
                        <div><span class="histospark">
                        {% for e in p.stats_dict[c.name].hist %}{{e}},{% endfor %}
                        </span></div>
                        <div>
                            <a tabindex = "0"
                        data-toggle="popover" data-placement="left" data-trigger="hover" data-html="true"
                        data-title="Quartiles"
                        data-content="<div><dl class='dl-horizontal'>
                            <dt>Min</dt><dd>{{'%0.2f'| format(p.stats_dict[c.name].min|float) }}</dd>
                            <dt>25%</dt><dd>{{'%0.2f'| format(p.stats_dict[c.name].p25|float) }}</dd>
                            <dt>50%</dt><dd>{{'%0.2f'| format(p.stats_dict[c.name].p50|float) }}</dd>
                            <dt>75%</dt><dd>{{'%0.2f'| format(p.stats_dict[c.name].p75|float) }}</dd>
                            <dt>Max</dt><dd>{{'%0.2f'| format(p.stats_dict[c.name].max|float) }}</dd>
                        </dl></div>"> Quartiles </a>

                        {%  if  p.stats_dict[c.name].nuniques < 100 %}
                            <a tabindex = "0"
                            data-toggle="popover" data-placement="left" data-trigger="hover"
                            data-title="Selected Values"
                            {% if p.stats_dict[c.name].uvalues %}
                            data-content="{{ p.stats_dict[c.name].uvalues|join(', ') }}"
                            {%  endif %} %}
                            >
                            {{p.stats_dict[c.name].nuniques}} Uniques </a>
                        {% else %}
                            {{p.stats_dict[c.name].nuniques}} Uniques
                        {% endif %}

                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if c.role == 'm'%}
                    <a href="{{ url_for('get_plots',pvid=p.vid, cvid=c.vid) }}"><i class="fa fa-line-chart"></i></a>
                    {%  endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<h2>Sources</h2>
<div >
    <table id="sources-table" class="table table_condensed ">
    <tr>
        <th>Name</th>
        <th>Reference</th>
    </tr>
    {% for s in b.sources|sort(attribute='name') %}
        {% if s.dest_table_name == p.table.name %}
            <tr>
            <td>{{s.name}}</td>
            <td><a href="{{ s.url }}">{{ s.abbrev_url}}</a></td>
            </tr>
        {% endif %}
    {% endfor -%}
    </table>
</div>


{% endblock %}

{% block tailjs %}
{{ super() }}
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/sparklines.js')}}">
    </script>
    <script>

        $(function() {
         $('[data-toggle="popover"]').popover()
         $('[data-toggle="tooltip"]').tooltip()
         $('.histospark').sparkline('html', {height: 25, barWidth: 8, type: 'bar', barColor: 'blue'} );
         $('.boxplot').sparkline('html', {height: 25, width: 100, type: 'box',
             barColor: 'blue', raw: true,
             showOutliers: false } );
        });
    </script>
{% endblock %}
