{% extends "bundle/partition.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/bower_components/c3/c3.css') }}" rel="stylesheet">

{% endblock %}
{% block page_css %}

{%  endblock %}
{% block body %}

    <h2>Plots</h2>

    <div>
        measures:<ul>
        {% for m in measures %}
            <li>{{ m.name }} {{  url_for('get_plots_csv',pvid=p.vid, cvid=m.vid) }}</li>
        {%  endfor %}
        </ul>
    </div>

        <div>
        dimensions:
        {% for d in dimensions %}
            {{ d.name }}
        {%  endfor %}
    </div>


    <div id="chart"></div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bower_components/d3/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/c3/c3.js') }}" charset="utf-8"></script>

    <script>
    var config = {{ dumps(plot_config) | safe }}

    config.onrendered = function(x){
        console.log('render...',x);
    }

    var chart = c3.generate(config);

    </script>


{% endblock %}


