{% extends "bundle/partition.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/bower_components/c3/c3.css') }}" rel="stylesheet">

{% endblock %}
{% block page_css %}

{%  endblock %}
{% block body %}

    <h2>Plots</h2>

    <div> measure: {{measure.name}} </div>

    <div>
        <a href="{{url_for('get_plot_partition_config',pvid=p.vid)}}"> Plot JSON </a>
        dimensions: <br/>
        {% for ds in md.dimension_sets.values()|sort(attribute='key') %}

            {{ds.key}}
            <a href="{{url_for('get_plot_data_csv',pvid=p.vid, measure=measure.name, dimpath=ds.key)}}">
                CSV
            </a>
            {% if ds.key == 'gvid' %}
               <a href="{{url_for('get_plot_json',pvid=p.vid, measure=measure.name, dimpath=ds.key)}}">
                    MapJSON
               </a>
                <a href="{{url_for('get_map',pvid=p.vid, measure=measure.name)}}">
                    Map
                </a>
            {% endif %}
            <a href="{{url_for('get_plot_json',pvid=p.vid, measure=measure.name, dimpath=ds.key)}}">
                PlotJSON
            </a>
            <a href="{{url_for('get_plot',pvid=p.vid, measure=measure.name, dimpath=ds.key)}}">
                Plot
            </a>


            <br/>
            {# <div id="{{(config.plot.bindto)[1:]}}"></div> #}

        {%  endfor %}
    </div>

{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bower_components/d3/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/c3/c3.js') }}" charset="utf-8"></script>

{% endblock %}


