{% extends "bundle/partition.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/bower_components/c3/c3.css') }}" rel="stylesheet">

{% endblock %}
{% block page_css %}

{%  endblock %}
{% block body %}

    <h2>Plot</h2>

    <div> measure: {{measure.name}} </div>

    <div id="{{(config.plot.bindto)[1:]}}"></div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bower_components/d3/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bower_components/c3/c3.js') }}" charset="utf-8"></script>

    <script>
    var chart = c3.generate({{ dumps(config['plot']) | safe }});

    </script>


{% endblock %}


