{% extends "bundle/layout.html" %}
{% from 'bundle/tabs.html' import tabs %}
{% block page_css %}
    #partition-list th:first-child{
        width: 10em;
    }
    td.col-name {
        min-width: 25em;
    }
    td.table-name {
        width: 10em;
    }
{%  endblock %}
{% block body %}

    {{tabs('process',vid, current_user)}}

    <h2>Process Logs</h2>

    <table  class="table table-striped table-bordered table-condensed">

        <tr>
            {%  for col in process[0] %}
                <th>{{col}}</th>
            {%  endfor %}
        </tr>
        {% for p in process[1:] -%}
        <tr>
            {%  for col in p %}
                <td>{{col}}</td>
            {%  endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2>Stats</h2>
        <table  class="table table-striped table-bordered table-condensed">

        <tr>
            {%  for col in stats[0] %}
                <th>{{col}}</th>
            {%  endfor %}
        </tr>
        {% for p in stats[1:] -%}
        <tr>
            {%  for col in p %}
                <td>{{col}}</td>
            {%  endfor %}
        </tr>
        {% endfor %}
    </table>

    {% if exceptions %}
        <h2>Exceptions</h2>
        <table  class="table table-striped table-bordered table-condensed">
        {%  for pr in exceptions %}
            <h3>{{ pr }}</h3>
            <pre>
                {% for l in pr.exception_trace %}
                {{ l }}
                {% endfor %}
            </pre>
        {%  endfor %}
        </table>
    {% endif %}
{% endblock %}


