{% extends "layout.html" %}
{% block title %}Table: {{t.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_css %}

    .column-role-d td:nth-of-type(2){
        /*background-color: #e6f2ff;*/
        color: green;
    }
    .column-role-m td:nth-of-type(2){
        /*background-color: #e6fff2;*/
        color: blue;
    }
    .column-role-e td:nth-of-type(2){
        /*background-color: #FAFAFA;*/
        color: #999;
    }

    .column-subordinate td:nth-of-type(2) {
        padding-left: 3em;
    }

    .column-primary td:nth-of-type(2) {
        font-weight: bold;
        font-size: 120%
    }
{% endblock %}
{% block masthead %}{{t.name}}{% endblock %}
{% block pageheader %}
    <div class="page-header">
        <div class="summary">{{t.description}}. {{ t.columns|length }} Columns.</div>
        <div>From: <a href="{{url_for('bundle_main',vid=t.dataset.vid)}}">{{t.dataset.fqname}}</a>.</div>
    </div>


{%  endblock %}

{% block body %}

<div >
    {{t.data.get('doc',{}).html}}
</div>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th id="valuetype-col">ValueType</th>
        <th>Has Nulls?</th>
        <th>Description</th>
        <th>Vid</th>
        <th>Codes</th>

    </tr>
    {% for c in t.columns -%}
    <tr class="column-role-{{ c.role }} {%  if c.parent %}column-subordinate{% else %}column-primary{% endif %}">

        <td>{{c.sequence_id}}</td>
        <td>{{c.name}}</td>
        <td data-toggle="tooltip" data-placement="right" data-container="body"
            title="{{c.valuetype_class.__name__}}, {{ c.valuetype }}">
            {{c.valuetype_description}}<br/>
            <small>{{c.role_description}}, {{c.datatype}}</small>
        </td>
        <td>{% if c.has_nulls %}Y{% endif %}</td>
        <td>{{c.description}}</td>
        <td>{%if c.sequence_id == 1 %}{{t.vid}}{% else %}{{c.vid}}{% endif %}</td>
        <td>{% if c.codes %}
            <ul>
                {% for cd in c.codes.values()|sort(attribute='key') %}
                <li>{{cd.key}}->{{ cd.value }}</li>
                {% endfor %}
            </ul>
            {%endif%}

        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
