{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}{{title}}{% endblock %}
{% block json_button %}
    {{ json_button('bundle_index_json') }}
{% endblock %}
{% block body %}

<div class = "row top-buffer">
    <div class="col-md-8 col-md-offset-2">
        <div id="search-inputs">
            <form action="{{ url_for('search') }}" method="get" >
                <div class="input-group">
                    <div class="input-group-addon about">Search</div>
                    <input type="text" id="ds-search" placeholder="Search Terms"
                           name="terms" class="wide", value="{{ terms }}">
                </div>
            </form>
        </div>
    </div>
</div>

<div class = "row">
    <table class="table table-hover table-condensed" >
    <tr>
        <th>#</th>
        <th>Title</th>
        <th class="toc_name">Name</th>
    </tr>
    {% for b in bundles|sort(attribute="identity.vname") -%}
        <tr class="bundle_toc">
            <td class="toc_n">{{loop.index}}</td>
            <td class="toc_title"><a href="{{url_for('bundle_main',vid=b.identity.vid)}}">
                {{b.metadata.about.title or b.identity.vname}}</a><br/>
                <small>{{(b.metadata.about.summary or '')|truncate(length=300)}}</small>
            </td>
            <td class="toc_name">{{b.identity.name}}<br/>
                <small>{{b.identity.vid}} {{b.dstate}}</small></td>

        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}

{% block tailjs %}
    {{ super() }}
{% endblock %}


