

{% macro d3_plot(config) -%}
    <div class="ambry-plot_container">
        <h2>{{config.title}}</h2>
        {% if config.subtitle %}
        <h3>{{config.subtitle}}</h3>
        {% endif %}
        <p><a href="" class="csv-link">CSV</a></p>
        <div class="ambry-c3-plot"  data-plotconfig="{{ config|tojson|forceescape }}"></div>
    </div>
{% endmacro %}

{% macro json_button(page_name) -%}
<a href="{{ url_for(page_name,**kwargs) }}"><span class="label label-primary">{json}</span></a>
{% endmacro %}


{% macro modal(id, title, summary = '', tabindex = -1) -%}
<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="{{tabindex}}" role="dialog" aria-labelledby="{{id}}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="{{id}}-label">{{title}}</h4>
        <p>{{summary}}</p>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
{% endmacro -%}

{% macro modal_button(id, title) -%}
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{id}}">{{title}}</button>
{% endmacro -%}

{% macro messages() -%}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div div class="panel panel-danger">
                <div class="panel-heading">Errors</div>
                <div class="panel-body">
                  <ul>
                    {%- for msg in errors %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                  </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            <div div class="panel panel-success">
                <div class="panel-heading">Success</div>
                <div class="panel-body">
                  <ul>
                    {%- for msg in messages %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                  </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endmacro -%}
