<div id="search-inputs-js">
    <div class = "row">
            <div class="input-group">
                <div class="input-group-addon about">Search</div>
                <input type="text" id="ds-search" placeholder="Search"  name="terms" class="wide">
            </div>
    </div>
</div>

<!--

Javascript to make the search box work:

{% block tailjs %}
    {{ super() }}
    <script>
    $('#search-inputs-js').searchbox({
      url: '/search/bundle',
      param: 'term',
      dom_id: '#dataset-results',
      delay: 1000,
      loading_css: '#loading'
    })

    $(function() {
        $( "#place-search" ).autocomplete({
          source: "/search/place",
          minLength: 2,
          appendTo: "#place-search-results"
        });
    });

    $(document).bind('before.searchbox', function() {
        $('#dataset-results').empty()
    })

    </script>
{% endblock %}

-->