{% extends "admin/layout.html" %}
{% from 'admin/tabs.html' import tabs %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros.html' import messages %}
{% block json_button %}
    {{ json_button('bundle_json', vid=vid) }}
{% endblock %}
{% block page_css %}


{%  endblock %}
{% block body %}

    {{tabs('users',vid, current_user)}}

    {{messages()}}

    <form method="POST" action="{{ url_for('admin_users') }}">
        <h2>Users</h2>
        <div>
            <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td>Username</td>
                <td>Account Type</td>
                <td>Delete</td>
            </tr>
            {%  for user in users|sort(attribute='user_id') %}
            <tr>
                <td>{{ user.account_id }}</td>
                <td>{{ user.minor_type }}</td>
                <td><button type="submit" class="btn btn-danger btn-small" name="delete" value="{{ user.account_id }}">
                        <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>

            </tr>
            {%  endfor %}
            </table>
        </div>
    </form>


    <h2>New / Edit User</h2>
    <form id="new-user" method="POST" action="{{ url_for('admin_users') }} "  role="form" class="form form-inline">


        {{ new_user_form.hidden_tag() }}
        {{ wtf.form_errors(new_user_form, hiddens="only") }}

        {{ wtf.form_field(new_user_form.username) }}
        {{ wtf.form_field(new_user_form.password) }}
        {{ wtf.form_field(new_user_form.account_type) }}
        <br/>
        <button class="btn btn-primary" name="submit">New User</button>
    </form>

{% endblock %}


